<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head.ejs') %>
</head>
<body>
  <%- include('./includes/nav.ejs') %>
  <main>
    <h1>An Error Has Occurred!</h1>
    <p>We're working on fixing this issue.</p>  
    <p>Sorry for the inconvenience.</p>
  </main>
</body>
</html>